@import "tailwindcss";

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
}

:root {
    --background: #ffffff;
    --foreground: #000000;
    --star-color: #000;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
        --star-color: #fff;
    }
}

html[data-theme="red"] {
    --contrast-color: #f70f4d;
}

html[data-theme="green"] {
    --contrast-color: #1aeb07;
}

html[data-theme="lagune"] {
    --contrast-color: #16caf2;
}


html[data-theme="blue"] {
    --contrast-color: #100cfa;
}

html[data-theme="pink"] {
    --contrast-color: #fa1ef6;
}

html[data-theme="purple"] {
    --contrast-color: #a607eb
}

html[data-theme="gold"] {
    --contrast-color: #f78b0f;
}

html[data-mode="new"] {
    --legacy: none;
    --new: block;
}

html[data-mode="legacy"] {
    --legacy: block;
    --new: none;
}

@theme inline {
    --contrast-color: var(--contrast-color);
}

body {
    color: var(--foreground);
    background-color: var(--background);
}